@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Playfair", serif;
}
h1,h2{
    font-family: "Playfair", serif;
    font-size: 34px !important;
    font-weight: 800 !important;
    color: #020202 !important;
}

p{
    font-family: "Rubik", sans-serif;
    font-size: 15.3px !important;
    font-weight: 300;
}
.btn{
    outline: none !important;
}

.toolbar {
    background-color: #F6A21C; 
    padding: 10px 0;
    color: black; 
}

.toolbar .contact-info {
    display: flex;
    align-items: center;
}
.toolbar .contact-info a{
    text-decoration: none;
    color: white !important;
    margin-right: 2px;
    font-size: 14.7px;
    letter-spacing: 0.05rem;
    font-family: rubik;
    font-weight: 400;

}
.toolbar .contact-info i {
    margin-right: 5px;
    margin-left: 13px;
    color: white !important;
}

.toolbar .social-icons a {
    color: rgb(255, 255, 255); 
    margin-left: 12px;
   
}
.dropdown-menu {
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    padding: 0 !important;
}
.dropdown-item{
    padding: 10px 10px !important;
    border-bottom: 1px solid #dfdfdf !important;
}

.dropdown-item:hover {
    background-color: #e0e0e0; 
}
.navbar{
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* height: 100px; */
    
}
.navbar-toggler {
    border: none !important;
    color: rgb(5, 5, 5) !important;
    outline: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}
.navbar:focus i{
    outline: none !important;
    box-shadow: none;
}
.navbar i {
    color: #F6A21A;
    font-size: 28px;
}

.navbar a {
    color: #000000;
    font-family: rubik;
}
  .navbar-nav .nav-item {
    margin-right: 15px;
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-link {
    color: black !important;
    padding: 8px 15px;
    border-radius: 0px;
  }
  
  .nav-link:hover {
    /* background-color: #F6A21A; */
    color: rgb(5, 5, 5) !important;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transform: translateY(-2px);
    
  }
  
  .nav-link.active, .nav-link:active {
    background-color: transparent;
    color: #F6A21A !important;
    /* box-shadow: 10px 4px 12px rgba(0, 0, 0, 0.06); */
    /* transform: translateY(-2px); */
  }



  .dropdown-item.active {
    background-color: #343a40 !important; 
    color: white !important; 
}

.nav-link.dropdown-toggle {
    color: black !important; 
}

.navbar span {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000; 
    margin-left: 10px; 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navbar span {
        font-size: 1.2rem; 
    }
}


  .btn:focus,
  .btn:active,
  .btn:hover,
  .btn:visited {
      outline: none !important;
  }
  
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
  .breadcrumb-item a {
    color: #F6A21C;
    border-radius: 0px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.breadcrumb-item a:hover {
    color: black;
}


.breadcrumb-item.active {
    color: #000000 !important;
    pointer-events: none;

}
.banner {
    /* background-image: url('./pic/abstract-plexus-blue-geometrical-shapes-connection-ai-generated-image.jpg'); */
    background: url(./pic/394632185_997879061287569_3956235441175767724_n.jpg) no-repeat center top;

    background-size: cover;
    background-position: center;
    height: 82vh;
    position: relative;
    color: #fff !important;
    
}
.banner-content h1{
    color: #F6A21C !important;
}
.banner-content {
    position: absolute;
    top: 55%;
    left: 7%;
    transform: translateY(-50%);
    padding: 30px;
    background: rgba(0, 0, 0, 0.56); 
    border-radius: 4px;
    max-width: 700px; 
}


.typewriter h1 {
    overflow: hidden; 
    border-right: .1em solid #F6A21C; 
    white-space: nowrap; 
    margin: 0 auto; 
    /* letter-spacing: .15em;  */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}


@media (max-width: 768px) {
    .banner-content {
        max-width: 94%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 20px;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 4px;

    }

    .dropdown-menu {
        border-radius: 0 !important;
        border: none !important;
        box-shadow: none !important;
    }

 
    
    .dropdown-item:hover {
        background-color: #e0e0e0; 
    }
    .navbar .nav-link{
        padding: 10px 30px !important;
    }

    .navbar .nav-link:hover{
        background-color: #e0e0e04b; 
    }
    }


    @media (max-width: 768px) {
        .dropdown-item {
            padding: 10px 15px !important;
            margin: 0px 15px;
        }
    
        .navbar .nav-link {
            padding: 10px 15px !important;
        }
    }
    
    @media (max-width: 576px) {
        .dropdown-item {
            padding: 10px 10px !important;
            margin: 0px 10px;
        }
    
        .navbar .nav-link {
            padding: 10px 10px !important;
        }
    }

.banner h1, .banner p, .banner a {
    margin: 10px 0;
}

.banner .btn {
    display: inline-block;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    width: 180px;
    display: inline-block;
    background: #F6A21A;
    color: white;
    border: none;
    border-radius: 0;
}

.wlcm h1{
    color: #F6A21A;
    margin-bottom: 20px;
}


.about-title {
    margin-bottom: 20px;
}

.about-text {
    line-height: 1.6 !important;
}

.about-pic {
    background-image: url('./pic/dais.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-container {
    margin-top: 80px;
}

.events .card {
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card a {
    font-size: 1rem;
    background: white;
    color: #F6A21A;
    border: 1px solid #F6A21A;
    border-radius: 0;
}

.card a:hover {
    background: #F6A21A;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}



.wlcm h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;

}

.wlcm p {
    font-size: 15px;
    font-weight: 200;
}
.wlcm .col-md-6{
    padding-right: 30px;
}



.alumni-profiles h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;

}

.alumni-profiles-section {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.alumni-profiles-title {
    /* text-align: center; */
    margin-bottom: 50px;
    /* font-size: 36px; */
    /* font-weight: bold; */
    /* color: #333; */
}

.alumni-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin-bottom: 30px;
}

.alumni-card:hover {
    transform: translateY(-10px);
}

.alumni-card-img-top {
    height: 200px;
    object-fit: cover;
}

.alumni-card-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.alumni-card-text {
    color: #666;
    font-size: 16px;
    margin-bottom: 15px;
}

.alumni-btn-primary {
    background-color: transparent !important;
    border-color: #2C3592 !important;
    font-size: 16px;
    font-weight: bold;
    color: #2C3592 !important;
    transition: background-color 0.2s ease-in-out;
}

.alumni-btn-primary:hover {
    background-color: #F6A21C !important;
    color: white !important;
    border-color: #F6A21C !important;
}



.container-events {
    max-width: 800px;
    margin: 40px auto;
}

.event {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.event-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #343a40;
}

.event-date {
    font-size: 0.875rem;
    color: #6c757d;
    margin-bottom: 5px;
}

.event-location {
    font-size: 0.875rem;
    color: #6c757d;
    margin-bottom: 15px;
}

.event-description {
    font-size: 1rem;
    line-height: 1.6;
}
.events .card{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 1px 1px 0px 1px #F6A21C;
    
}
/* .events .card img{
    height: 190px;
    object-fit: cover;
    object-position: center top;
    border-radius: 0;

} */

.upcoming-event {
    position: absolute;
    top: -5px;
    right: -50px;
    width: 250px;
    height: 40px;
    background: #2C3592;
    color: white;
    /* text-align: start; */
    transform: rotate(45deg);
    animation: pulse 1.5s infinite;
}

.upcoming-event span {
    position: absolute;
    top: 6px;
    right: 45px;
    /* transform: rotate(deg); */
    font-size: 15px;
    font-weight: 400;
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.1) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(45deg);
    }
}
.btn-details {
    background-color: #F6A21A;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-details:hover {
    background-color: transparent;
    border: 1px solid #F6A21A;
    color: #F6A21A;
}


footer {
    /* background-color: #0000000d; */
    background-color: #A1E6ED !important;
    padding: 20px 0;
    color: #2C3592 !important;
}



.footer-logo {
    margin-bottom: 1rem;
}

.footer-about p {
    margin-bottom: 1rem;
    color: #2C3592 !important;
}

footer .btn {
    margin-top: 1rem;
    font-size: 1rem;
    background: #F6A21A;
    color: rgb(255, 255, 255);
    border-radius: 0;
    border: none;
    outline: none !important;

}
table a{
    text-decoration: none !important;
    margin: auto;
    position: relative;
    left: 0;
    color: #2C3592 !important;

}


footer .btn:hover {
    background: white;
    color: #F6A21A;
    border: 1px solid #F6A21A;

}
.footer-links, .footer-contact, .footer-follow {
    margin-bottom: 1rem;
}

.footer-follow ul {
    padding-left: 0 !important;
}

.footer-follow li {
    display: inline;
    margin: 0rem;
}

.footer-follow a {
    font-size: 1.1rem; 
    color: #2C3592 ;
    /* border: 0.1px solid #F6A21A; */
   
    /* padding: 2px 7px; */
   
    transition: color 0.3s;
}

.footer-follow a:hover {
    color: #F6A21A;
    
    /* border: 0.1px solid #A1E6ED; */
}

.table-borderless td {
    border: none;
    padding: 0.5rem 0; 
}

.table-borderless a {
    border: none;
    color: black;
}

.table-borderless a:hover {
    color: #F6A21A !important;
}
/* .b tr{
    border-bottom: 1px solid #F6A21A;
} */
td.border-bottom {
    border-bottom: none !important; 
 }

.table-borderless a{
    color: #2C3592 !important;
    font-family: rubik;
    font-weight: 350;
}


.table-borderless i{
    color: #2C3592 !important;
    font-family: rubik;
    font-weight: 500;
}

.table-borderless td{
    color: #2C3592 !important;
}
.directory h1 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;

}



/* about page styles */


.picc{
    background-image: url('./pic/dais.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.what{

        background-color: #f9f9f9;
        padding: 20px 0;    
}
.who-we-are h1, 
.who-we-are h2 {
    color: #000000;
    margin-bottom: 20px;
}

.who-we-are p, 
.who-we-are ul {
    color: #000000;
}

.who-we-are ul {
    list-style-type: disc;
    padding-left: 20px;
}

.who-we-are li {
    margin-bottom: 20px;
}
.Mission{
    padding: 20px 20px;
    border-radius: 4px;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 1px 1px 0px 1px #F6A21C;
    min-height: 200px;
}
.Vision{
    background: linear-gradient();
    padding: 20px 20px;
    border-radius: 4px;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 1px 1px 0px 1px #F6A21C;
    min-height: 242px;
}








.contact-section {
    position: relative;
    height: 50vh;
    background-image: url('./pic/30755.jpg'); 
    background-size: cover;
    background-position: center;
}

.contact-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #272727 0%, #272727 13%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, #272727 87%, #272727 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-details {
    text-align: center;
    color: white;
}

.contact-details h1 {
    margin-bottom: 20px;
}

.contact-details p {
    margin: 10px 0;
    font-size: 18px;
}





/* Career Page Styles */
.career h5 {
    /* margin-top: 30px; */
    font-size: 23px;
    font-weight: 700;
    color: #F6A21A;

}

.career .card {
    border: none;
    border-radius: 0px;
    min-height: 270px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

/* .career .card-title {
    font-size: 1.25rem;
    font-weight: bold;
} */

.career .btn-primary {
    background-color: #F6A21A;
    border: none;
    border-radius: 0;
    color: white;
    padding: 10px 20px;
}

.career .btn-primary:hover {
    background-color: #f6f6f7;
    border: 1px solid #F6A21A;
    color:#F6A21A;
    border-radius: 0px;
    padding: 10px 20px;
}




/* Donate Page Styles */


.donate h2 {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 700;
    /* color: #F6A21A; */
    margin-bottom: 15px;
}
.donate .v{
    padding-right: 30px;
}
.donate form .form-label {
    font-weight: bold;
}

.donate form .form-control {
    border-radius: 5px;
}

.donate form .btn-primary {
    background-color: #F6A21A;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
}

.card-footer a {
    background-color: #0d0e0d05;
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
}

.card-footer a:hover {
    background: none;
    border: none;
    color: #000000;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}



/* Login Page Styles */
.login .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login .card-body {
    padding: 30px;
}

.login .form-label {
    font-weight: bold;
}

.login .form-control {
    border-radius: 5px;
}

.login .btn-primary {
    background-color: #F6A21A;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.login .btn-primary:hover {
    background-color: #f6f6f7;
    border: 1px solid black;
    color: rgb(7, 7, 7);
    border-radius: 5px;
    padding: 10px 20px;
}

.login .card-footer {
    background-color: #f8f9fa;
    border-top: none;
    padding: 15px;
    font-size: 0.875rem;
}

.login .card-footer a {
    color: black;
    text-decoration: none;
}

.login .card-footer a:hover {
    text-decoration: underline;
}

.login h1 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;

}