@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Playfair", serif;
}
h1,h2{
    font-family: "Playfair", serif;
    font-size: 35px;
    font-weight: 600;
    color: #F6A21A;
}

p{
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.toolbar {
    background-color: #F6A21C; 
    padding: 10px 0;
    color: black; 
}

.toolbar .contact-info {
    display: flex;
    align-items: center;
}
.toolbar .contact-info a{
    text-decoration: none;
    color: white !important;
    margin-right: 15px;

}
.toolbar .contact-info i {
    margin-right: 5px;
    margin-left: 13px;
    color: white !important;
}

.toolbar .social-icons a {
    color: rgb(255, 255, 255); /* Social icon color */
    margin-left: 12px;
   
}
.dropdown-menu {
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    padding: 0 !important;
}
.dropdown-item{
    padding: 10px 10px !important;
    border-bottom: 1px solid #dfdfdf !important;
}

.dropdown-item:hover {
    background-color: #e0e0e0; 
}
.navbar{
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* height: 100px; */
    
}
.navbar-toggler {
    border: none !important;
    color: rgb(5, 5, 5) !important;
    outline: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}
.navbar:focus i{
    outline: none !important;
    box-shadow: none;
}
.navbar i {
    color: #F6A21A;
    font-size: 28px;
}

.navbar a {
    color: #000000;
}
  .navbar-nav .nav-item {
    margin-right: 15px;
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-link {
    color: black ;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    padding: 8px 15px;
    border-radius: 0px;
  }
  
  .nav-link:hover {
    /* background-color: #F6A21A; */
    color: rgb(5, 5, 5) !important;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transform: translateY(-2px);
    
  }
  
  .nav-link.active, .nav-link:active {
    background-color: transparent;
    color: #F6A21A;
    /* box-shadow: 10px 4px 12px rgba(0, 0, 0, 0.06); */
    /* transform: translateY(-2px); */
  }



  .dropdown-item.active {
    background-color: #343a40 !important; 
    color: white; 
}

.nav-link.dropdown-toggle {
    color: black !important; 
}




  .btn:focus,
  .btn:active,
  .btn:hover,
  .btn:visited {
      outline: none !important;
  }
  
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
  .breadcrumb-item a {
    color: #F6A21C;
    border-radius: 0px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.breadcrumb-item a:hover {
    color: black;
}


.breadcrumb-item.active {
    color: #000000 !important;
    pointer-events: none;

}
.banner {
    background-image: url('./pic/abstract-plexus-blue-geometrical-shapes-connection-ai-generated-image.jpg');
    background-size: cover;
    background-position: center;
    height: 82vh;
    position: relative;
    color: #fff;
    
}

.banner-content {
    position: absolute;
    top: 55%;
    left: 7%;
    transform: translateY(-50%);
    padding: 30px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 8px;
    max-width: 700px; 
}
@media (max-width: 768px) {
    .banner-content {
        max-width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 30px;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 8px;

    }

    .dropdown-menu {
        border-radius: 0 !important;
        border: none !important;
        box-shadow: none !important;
    }

  
    /* .dropdown-item{
        padding: 10px 10px !important;
        margin: 0px 30px;
        border-bottom: 1px solid #dfdfdf !important;
    } */
    
    .dropdown-item:hover {
        background-color: #e0e0e0; 
    }
    .navbar .nav-link{
        padding: 10px 30px !important;
    }

    .navbar .nav-link:hover{
        background-color: #e0e0e04b; 
    }
    }


    @media (max-width: 768px) {
        .dropdown-item {
            padding: 10px 15px !important;
            margin: 0px 15px;
        }
    
        .navbar .nav-link {
            padding: 10px 15px !important;
        }
    }
    
    @media (max-width: 576px) {
        .dropdown-item {
            padding: 10px 10px !important;
            margin: 0px 10px;
        }
    
        .navbar .nav-link {
            padding: 10px 10px !important;
        }
    }

.banner h1, .banner p, .banner a {
    margin: 10px 0;
}

.banner .btn {
    display: inline-block;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    width: 180px;
    display: inline-block;
    background: #F6A21A;
    color: white;
    border: none;
    border-radius: 0;
}

.wlcm h1{
    color: #F6A21A;
    margin-bottom: 20px;
}
.about_pic {
    background: url(./pic/group-diverse-teens-young-people-doing-activities-together-celebrating-world-youth-skills-day.jpg) no-repeat center bottom;
    max-height: 420px;
    background-size: cover;
    object-fit: cover;
}

.events .card {
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card a {
    font-size: 1rem;
    background: white;
    color: #F6A21A;
    border: 1px solid #F6A21A;
    border-radius: 0;
}

.card a:hover {
    background: #F6A21A;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}



.wlcm h1 {
    font-size: 35px;
    font-weight: 700;

}

.wlcm p {
    font-size: 15px;
    font-weight: 200;
}
.wlcm .col-md-6{
    padding-right: 30px;
}

.alumni-profiles {
    margin-top: 30px;
}

.alumni-profiles h1 {
    font-size: 35px;
    font-weight: 700;

}

.alumni-profiles h1 {
    font-size: 35px;
    font-weight: 700;

}



.container-events {
    max-width: 800px;
    margin: 40px auto;
}

.event {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.event-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #343a40;
}

.event-date {
    font-size: 0.875rem;
    color: #6c757d;
    margin-bottom: 5px;
}

.event-location {
    font-size: 0.875rem;
    color: #6c757d;
    margin-bottom: 15px;
}

.event-description {
    font-size: 1rem;
    line-height: 1.6;
}

.btn-details {
    background-color: #F6A21A;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 0px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-details:hover {
    background-color: transparent;
    border: 1px solid #F6A21A;
    color: #F6A21A;
}


footer {
    /* background-color: #0000000d; */
    background-color: #2C3592 !important;
    padding: 20px 0;

}



.footer-logo {
    margin-bottom: 1rem;
}

.footer-about p {
    margin-bottom: 1rem;
}

footer .btn {
    margin-top: 1rem;
    font-size: 1rem;
    background: #F6A21A;
    color: rgb(255, 255, 255);
    border-radius: 0;
    border: none;

}
table a{
    text-decoration: none !important;
    margin: auto;
    position: relative;
    left: 0;
}


footer .btn:hover {
    background: white;
    color: #F6A21A;
    border: 1px solid #F6A21A;

}
.footer-links, .footer-contact, .footer-follow {
    margin-bottom: 1rem;
}

.footer-follow ul {
    padding-left: 0 !important;
}

.footer-follow li {
    display: inline;
    margin: 0rem;
}

.footer-follow a {
    font-size: 1.1rem; 
    color: #F6A21A;
    /* border: 0.1px solid #F6A21A; */
   
    /* padding: 2px 7px; */
   
    transition: color 0.3s;
}

.footer-follow a:hover {
    color: #A1E6ED;
    /* border: 0.1px solid #A1E6ED; */
}

.table-borderless td {
    border: none;
    padding: 0.5rem 0; 
}

.table-borderless a {
    border: none;
    color: black;
}

.table-borderless a:hover {
    color: #F6A21A !important;
}
/* .b tr{
    border-bottom: 1px solid #F6A21A;
} */
td.border-bottom {
    border-bottom: none !important; 
 }


.directory h1 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;

}




/* Career Page Styles */
.career h5 {
    /* margin-top: 30px; */
    font-size: 23px;
    font-weight: 700;
    color: #F6A21A;

}

.career .card {
    border: none;
    border-radius: 0px;
    min-height: 270px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

/* .career .card-title {
    font-size: 1.25rem;
    font-weight: bold;
} */

.career .btn-primary {
    background-color: #F6A21A;
    border: none;
    border-radius: 0;
    color: white;
    padding: 10px 20px;
}

.career .btn-primary:hover {
    background-color: #f6f6f7;
    border: 1px solid #F6A21A;
    color:#F6A21A;
    border-radius: 0px;
    padding: 10px 20px;
}




/* Donate Page Styles */


.donate h2 {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 700;
    /* color: #F6A21A; */
    margin-bottom: 15px;
}
.donate .v{
    padding-right: 30px;
}
.donate form .form-label {
    font-weight: bold;
}

.donate form .form-control {
    border-radius: 5px;
}

.donate form .btn-primary {
    background-color: #F6A21A;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
}

.card-footer a {
    background-color: #0d0e0d05;
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
}

.card-footer a:hover {
    background: none;
    border: none;
    color: #000000;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}



/* Login Page Styles */
.login .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login .card-body {
    padding: 30px;
}

.login .form-label {
    font-weight: bold;
}

.login .form-control {
    border-radius: 5px;
}

.login .btn-primary {
    background-color: #F6A21A;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.login .btn-primary:hover {
    background-color: #f6f6f7;
    border: 1px solid black;
    color: rgb(7, 7, 7);
    border-radius: 5px;
    padding: 10px 20px;
}

.login .card-footer {
    background-color: #f8f9fa;
    border-top: none;
    padding: 15px;
    font-size: 0.875rem;
}

.login .card-footer a {
    color: black;
    text-decoration: none;
}

.login .card-footer a:hover {
    text-decoration: underline;
}

.login h1 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;

}