@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

body {
    font-family: "Playfair", serif;
}

.navbar{
    background: #A1E6ED;
}

  .navbar-nav .nav-item {
    margin-right: 15px;
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-link {
    color: black;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    padding: 8px 15px;
    border-radius: 0px;
  }
  
  .nav-link:hover {
    background-color: #F6A21A;
    color: white !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  
  .nav-link.active, .nav-link:active {
    background-color: #F6A21A;
    color: white;
    box-shadow: 10px 4px 12px rgba(0, 0, 0, 0.298);
    transform: translateY(-2px);
  }
  .btn:focus,
  .btn:active,
  .btn:hover,
  .btn:visited {
      outline: none;
  }

  .breadcrumb-item a {
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.breadcrumb-item a:hover {
    color: black;
}

.breadcrumb-item .active {
    color: white;
    pointer-events: none;
}
#carouselExampleCaptions .carousel-inner {
    position: relative;
    overflow: hidden;
    /* height: 500px; */
    background: url('./pic/abstract-background-with-low-poly-design.jpg') no-repeat center center;
    background-size: cover;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(50%, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(10, 0, 0);
    }
}

.carousel-caption {
    animation: fadeInUp 1s ease-out;
    background-color: rgba(0, 0, 0, 0.59);
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -20%);
    border-radius: 0px;
    text-align: left;
    max-width: 45%;
    height: 220px;
}

.carousel-caption h1 {
    font-size: 35px;
    /* color: #F6A21A; */
    color: white;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 15px;
    font-weight: 200;
    /* color: black; */
}


.carousel-caption h5,
.carousel-caption p,
.carousel-caption a {
    display: block;
    /* animation: fadeIn 2s ease-in; */
}


.carousel-caption a {
    font-size: 1rem;
    text-align: center;
    width: 180px;
    display: inline-block;
    background: #F6A21A;
    color: white;
    border: none;
    border-radius: 0;
}

.carousel-caption a:hover {
    background: rgb(255, 255, 255);
    color: #F6A21A;
    border: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.wlcm h1{
    color: #F6A21A;
    margin-bottom: 20px;
}
.about_pic {
    background: url(./pic/group-diverse-teens-young-people-doing-activities-together-celebrating-world-youth-skills-day.jpg) no-repeat center bottom;
    max-height: 420px;
    background-size: cover;
    object-fit: cover;
}

.events .card {
    margin-bottom: 30px;
    margin-top: 30px;
}

.card a {
    font-size: 1rem;
    background: white;
    color: #F6A21A;
    border: 1px solid #F6A21A;
    border-radius: 0;
}

.card a:hover {
    background: #F6A21A;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

.carousel-item {
    height: 600px !important;
}

.wlcm h1 {
    font-size: 35px;
    font-weight: 700;

}

.wlcm p {
    font-size: 15px;
    font-weight: 200;
}


.alumni-profiles {
    margin-top: 30px;
}

.alumni-profiles h1 {
    font-size: 35px;
    font-weight: 700;

}

.alumni-profiles h1 {
    font-size: 35px;
    font-weight: 700;

}

.events {
    margin-top: 30px;
    background: rgb(231, 231, 231);
    padding: 30px;

}

.eventss {
    /* margin-top: 30px; */
    background: rgb(230, 229, 229);
    padding: 30px;
    margin-bottom: 0px;

}

.eventss h1,
h2 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}

#eventsCarousel .carousel-inner {
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.event-card {
    max-height: 500px;
    overflow: hidden;
    text-align: left;
}

.event-img {
    max-height: 200px;
    object-fit: cover;
}

footer {
    background-color: #0000000d;
    padding: 20px 0;

}



.footer-logo {
    margin-bottom: 1rem;
}

.footer-about p {
    margin-bottom: 1rem;
}

footer .btn {
    margin-top: 1rem;
    font-size: 1rem;
    background: #F6A21A;
    color: rgb(255, 255, 255);
    border-radius: 0;
    border: none;

}
.list-unstyled a{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
.list-unstyled a:hover{
    color: #F6A21A;
    
}

footer .btn:hover {
    background: white;
    color: #F6A21A;
    border: 1px solid #F6A21A;

}
.footer-links, .footer-contact, .footer-follow {
    margin-bottom: 1rem;
}

.footer-follow ul {
    padding-left: 0;
}

.footer-follow li {
    display: inline;
    /* margin-right: 1rem; */
}

.footer-follow a {
    font-size: 1.4rem; 
    color: #A1E6ED;
    padding: 3px 10px;
    border: 1px solid #A1E6ED;
    transition: color 0.3s;
}

.footer-follow a:hover {
    color: #F6A21A;
    border: 1px solid #F6A21A;
}

.table-borderless td {
    border: none;
    padding: 0.5rem 0; 
}

/* .table-borderless td.border-bottom { */
    /* border-bottom: 1px solid #F6A21A;  */
/* } */


.directory h1 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;

}




/* Career Page Styles */
.career h5 {
    /* margin-top: 30px; */
    font-size: 23px;
    font-weight: 700;
    color: #F6A21A;

}

.career .card {
    border: none;
    border-radius: 0px;
    min-height: 270px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .career .card-title {
    font-size: 1.25rem;
    font-weight: bold;
} */

.career .btn-primary {
    background-color: #F6A21A;
    border: none;
    border-radius: 0;
    color: white;
    padding: 10px 20px;
}

.career .btn-primary:hover {
    background-color: #f6f6f7;
    border: 1px solid #F6A21A;
    color:#F6A21A;
    border-radius: 0px;
    padding: 10px 20px;
}




/* Donate Page Styles */


.donate h2 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    /* color: #F6A21A; */
    margin-bottom: 15px;
}

.donate form .form-label {
    font-weight: bold;
}

.donate form .form-control {
    border-radius: 5px;
}

.donate form .btn-primary {
    background-color: #F6A21A;
    border: none;
    color: white;
    border-radius: 0px;
    padding: 10px 20px;
}

.card-footer a {
    background-color: #0d0e0d05;
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
}

.card-footer a:hover {
    background: none;
    border: none;
    color: #000000;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}



/* Login Page Styles */
.login .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login .card-body {
    padding: 30px;
}

.login .form-label {
    font-weight: bold;
}

.login .form-control {
    border-radius: 5px;
}

.login .btn-primary {
    background-color: #F6A21A;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.login .btn-primary:hover {
    background-color: #f6f6f7;
    border: 1px solid black;
    color: rgb(7, 7, 7);
    border-radius: 5px;
    padding: 10px 20px;
}

.login .card-footer {
    background-color: #f8f9fa;
    border-top: none;
    padding: 15px;
    font-size: 0.875rem;
}

.login .card-footer a {
    color: black;
    text-decoration: none;
}

.login .card-footer a:hover {
    text-decoration: underline;
}

.login h1 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;

}